In [1]:
import pandas as pd

## Getting the data

We will recover the dataset cleaned and group it by `km`, `br` and date.

In [2]:
violations_df = pd.read_csv('../data/processed/violations.csv', sep=';')

/home/mayra/workspace/corvusenv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Counting the violations

In order to aggregate the information to the accidents dataset, we must count the number of the most commons violations commited in each km of the road.

The most commited violations are 250 I b, 162 I, 230 * V, 203 V, 167.

In [3]:
violations = ['250 I b', '162 I', '230 * V', '203 V', '167']
groupped = violations_df.query("enquadramento in ['250 I b', '162 I', '230 * V',\
                               '203 V', '167']").groupby(['dat_infracao','num_km_infracao', 
                                                         'num_br_infracao'])['cod_infracao'].agg('count')

groupped2 = violations_df.groupby(['dat_infracao','num_km_infracao', 
                                   'num_br_infracao'])['cod_infracao'].agg('count')

In [4]:
groupped

dat_infracao  num_km_infracao  num_br_infracao
2015-01-01    0                427.0               0
              1                427.0               0
              8                110.0               0
              9                110.0               0
              15               110.0               0
              38               226.0               0
              48               304.0               0
              63               101.0               0
              68               101.0               0
              69               101.0               0
              83               226.0               0
              104              406.0               0
              110              226.0               0
              111              226.0               0
              118              101.0               0
              148              406.0               0
              174              226.0               0
              184              304.0               0
              193              304.0               0
              219              304.0               0
              295              304.0               0
2015-01-02    2                405.0               0
              27               427.0               0
              34               304.0               0
              38               110.0               0
              68               101.0               0
              69               101.0               0
              106              101.0               0
              113              304.0               0
              133              226.0               0
                                                  ..
2018-12-31    25               304.0               7
              26               110.0              19
              37               304.0               3
              46               110.0               1
              47               304.0               2
              56               304.0               1
              57               101.0               1
              71               101.0              11
              75               101.0               1
              84               304.0               1
              96               101.0               9
              97               101.0               2
                               427.0               3
              98               427.0               1
              99               427.0               7
              100              226.0               5
                               427.0               2
              101              101.0              44
                               226.0               6
              106              101.0               1
                               427.0               2
              107              226.0               4
              109              226.0               5
              110              226.0               2
              111              226.0               9
              118              101.0               1
                               226.0               1
              168              406.0              37
              174              226.0               2
              295              304.0               3
Name: cod_infracao, Length: 29775, dtype: int64

In [5]:
groupped2

dat_infracao  num_km_infracao  num_br_infracao
2015-01-01    0                427.0               0
              1                405.0               0
                               427.0               0
              8                110.0               0
              9                110.0               0
              15               110.0               0
              25               304.0               0
              38               226.0               0
                               304.0               0
              48               304.0               0
              63               101.0               0
              68               101.0               0
              69               101.0               0
              80               226.0               0
              83               226.0               0
              101              101.0               0
              103              406.0               0
              104              406.0               0
              110              226.0               0
              111              226.0               0
              118              101.0               0
              148              406.0               0
              174              226.0               0
              184              304.0               0
              193              304.0               0
              219              304.0               0
              295              304.0               0
              296              226.0               0
2015-01-02    0                427.0               0
              1                405.0               0
                                                  ..
2018-12-31    56               304.0               1
              57               101.0               1
                               304.0               1
              71               101.0              21
              75               101.0               2
              84               101.0               3
                               304.0               2
              86               304.0               1
              96               101.0              18
                               427.0               3
              97               101.0               4
                               427.0               9
              98               427.0               8
              99               427.0              21
              100              101.0               1
                               226.0               7
                               427.0               4
              101              101.0              65
                               226.0               7
              106              101.0               1
                               427.0               6
              107              226.0               4
              109              226.0               9
              110              226.0               5
              111              226.0              10
              118              101.0               3
                               226.0               1
              168              406.0              39
              174              226.0               2
              295              304.0               4
Name: cod_infracao, Length: 49098, dtype: int64

In [7]:
groupped2.to_csv('../data/processed/violations_count.csv', sep=';', header=False)